parameters:
	level: 6
	paths:
		- src
		- tests
	doctrine:
		objectManagerLoader: tests/object-manager.php
		allowNullablePropertyForRequiredField: true
	ignoreErrors:
		-
			message: '/is never assigned.*so it can be removed from the property type/'
			path: src/Entity/DbObject.php