{%  extends 'base/layout.twig' %}

{# Prevent right sidebar from showing. #}
{#% block body_aside_right %}{% endblock %#}
{% block body %}
	<template data-for="BlockEditor">
		<section class="editor-components grid grid-cols-3">{% include 'base/default-block-editor-content.twig' %}</section>
	</template>
	<section {{ svelte_component('BlockEditor', {}) }}></section>
{% endblock %}
