{%  extends 'base/layout.twig' %}

{# Prevent right sidebar from showing. #}
{#% block body_aside_right %}{% endblock %#}
{% block body %}
	<section data-component="BlockEditorComponent">
		{% include 'base/default-block-editor-content.twig' %}
	</section>
{% endblock %}
